/app/cache/*
/app/logs/*
/app/config/parameters.yml
/web/bundles/*

/web/css*
/web/js/*
/web/images/*

*.swp
*_log
*~

.idea
/nbproject/*
/src/Pitech/Fedex/MainBundle/Resources/config/doctrine/*

/vendor/*
/composer.phar
/composer.lock
