{% extends '::base.html.twig' %}
{% block body %}
<input type="hidden" id="center_lat" value="46.53959">
<input type="hidden" id="center_long" value="24.55451">
<div id="map-canvas"></div>
{% endblock %}